Repository kadaan/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/bootstrap, area/kubernetes, area/taskfile, cluster/staging, cluster/production

.github/labeler.yaml:

---
# Areas
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster/staging:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/staging/**/*"
cluster/production:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/production/**/*"

Add UV_PYTHON environment variable pointing to the venv binary
  devbox.json
Labels: none

Update UV_PYTHON path
  devbox.json
Labels: none

Enable devbox caching and try a different way of specifying UV_PYTHON
  .github/workflows/e2e.yaml
  .github/workflows/kubeconform.yaml
  devbox.json
Labels: area/github

Remove e2e workflow Improve README.md
  .github/workflows/e2e.yaml
  README.md
Labels: area/github

Fix flux-diff workflow paths
  .github/workflows/flux-diff.yaml
Labels: area/github

Add actions-runner-system
  kubernetes/staging/main/service/apps/actions-runner-system/gha-runner-scale-set-controller/app/externalsecret.yaml
  kubernetes/staging/main/service/apps/actions-runner-system/gha-runner-scale-set-controller/app/helmrelease.yaml
  kubernetes/staging/main/service/apps/actions-runner-system/gha-runner-scale-set-controller/app/kustomization.yaml
  kubernetes/staging/main/service/apps/actions-runner-system/gha-runner-scale-set-controller/ks.yaml
  kubernetes/staging/main/service/apps/actions-runner-system/gha-runner-scale-set/app/helmrelease.yaml
  kubernetes/staging/main/service/apps/actions-runner-system/gha-runner-scale-set/app/kustomization.yaml
  kubernetes/staging/main/service/apps/actions-runner-system/gha-runner-scale-set/ks.yaml
  kubernetes/staging/main/service/apps/actions-runner-system/kustomization.yaml
  kubernetes/staging/main/service/apps/actions-runner-system/namespace.yaml
Labels: area/kubernetes, cluster/staging

Fix tasks
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/common/Taskfile.yaml
Labels: area/taskfile

Add helm repository for actions-runner-controller
  kubernetes/staging/main/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/staging/main/flux/repositories/helm/kustomization.yaml
  kubernetes/staging/main/service/apps/actions-runner-system/gha-runner-scale-set/ks.yaml
  kubernetes/staging/main/service/apps/actions-runner-system/kustomization.yaml
Labels: area/kubernetes, cluster/staging

Try decoding rsa key
  kubernetes/staging/main/service/apps/actions-runner-system/gha-runner-scale-set-controller/app/externalsecret.yaml
Labels: area/kubernetes, cluster/staging

Debug logs
  kubernetes/staging/main/service/apps/actions-runner-system/gha-runner-scale-set-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/staging

Remove decode
  kubernetes/staging/main/service/apps/actions-runner-system/gha-runner-scale-set-controller/app/externalsecret.yaml
Labels: area/kubernetes, cluster/staging

Switch back to bojanzelic/cloudflare-zero-trust-operator
  README.md
  kubernetes/staging/main/flux/repositories/git/cloudflare-zero-trust2.yaml
  kubernetes/staging/main/flux/repositories/git/kustomization.yaml
  kubernetes/staging/main/service/core/network/cloudflare/access/app/helmrelease.yaml
  kubernetes/staging/main/service/core/network/cloudflare/access/config/accessgroups.yaml
  kubernetes/staging/main/service/core/network/cloudflare/ks.yaml
  kubernetes/staging/shared/templates/cloudflare/zero-trust/application.yaml
Labels: area/kubernetes, cluster/staging

Run github workflows on kubernetes action-runner
  .github/workflows/flux-diff.yaml
  .github/workflows/kubeconform.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/github

Try fixing action-runner-system
  kubernetes/staging/main/service/apps/actions-runner-system/gha-runner-scale-set-controller/app/helmrelease.yaml
  kubernetes/staging/main/service/apps/actions-runner-system/gha-runner-scale-set/app/helmrelease.yaml
  kubernetes/staging/main/service/apps/actions-runner-system/gha-runner-scale-set/ks.yaml
Labels: area/kubernetes, cluster/staging

Fix cloudflare-zero-trust-operator version
  kubernetes/staging/main/service/core/network/cloudflare/access/app/helmrelease.yaml
Labels: area/kubernetes, cluster/staging

Remove forked version of cloudflare-zero-trust-operator
  kubernetes/staging/main/flux/repositories/git/cloudflare-zero-trust2.yaml
  kubernetes/staging/main/flux/repositories/git/kustomization.yaml
  kubernetes/staging/main/service/core/network/cloudflare/access/app/helmrelease.yaml
  kubernetes/staging/main/service/core/network/cloudflare/ks.yaml
Labels: area/kubernetes, cluster/staging

Fix flux-diff workflow
  .github/workflows/flux-diff.yaml
Labels: area/github

Switch back to github hosted runners
  .github/workflows/flux-diff.yaml
  .github/workflows/kubeconform.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/github

Fix json
  .github/renovate/autoMerge.json5
Labels: area/github

Remove production from flux-diff job for now
  .github/workflows/flux-diff.yaml
Labels: area/github

Reduce overhead of running kubeconform in github workflow
  .github/workflows/kubeconform.yaml
  .pre-commit-config.yaml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/kubernetes/Taskfile.yaml
  devbox.json
  devbox.lock
  scripts/kubernetes/devbox.json
  scripts/kubernetes/devbox.lock
  scripts/kubernetes/kubeconform.sh
Labels: area/github, area/taskfile

Try fixing renovate automerge
  .github/renovate/autoMerge.json5
Labels: area/github

Change devbox path for kubeconform
  .github/workflows/kubeconform.yaml
Labels: area/github

Fix bootstrap scripts
  .github/tests/config-talos.yaml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/scripts/plugin.py
  .taskfiles/talos/Taskfile.yaml
  makejinja.toml
  requirements.in
  requirements.txt
Labels: area/github, area/taskfile

Reorganize tasks
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

Add prometheus stack
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/access/kustomization.yaml
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/app/pvc.yaml
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/app/scrapeconfig.yaml
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes, cluster/staging

Label the prometheus PVCs
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/app/pvc.yaml
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes, cluster/staging

Add secrets
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/app/externalsecret.yaml
Labels: area/kubernetes, cluster/staging

Fix PVC labels
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/app/pvc.yaml
Labels: area/kubernetes, cluster/staging

Remove prom stack
  kubernetes/staging/main/service/core/observability/kustomization.yaml
Labels: area/kubernetes, cluster/staging

Put prometheus stack back
  kubernetes/staging/main/service/core/observability/kustomization.yaml
Labels: area/kubernetes, cluster/staging

Remove prometheus stack
  kubernetes/staging/main/service/core/observability/kustomization.yaml
Labels: area/kubernetes, cluster/staging

Re-add prometheus stack
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/app/pvc.yaml
  kubernetes/staging/main/service/core/observability/kustomization.yaml
Labels: area/kubernetes, cluster/staging

Reduce prom memory
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/staging

Fix access group naming
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes, cluster/staging

Try making prom stack ingress external
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/staging

Try making prom stack ingress external (attempt 2)
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/staging

Try making prom stack ingress external (attempt 3)
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/staging

Try ordering prom stack zero trust
  kubernetes/staging/main/service/core/observability/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes, cluster/staging

Try waiting for cloudflare zero trust helm release to fix issue with CRs not being deployed
  .taskfiles/talos/Taskfile.yaml
  kubernetes/staging/main/service/core/network/cloudflare/ks.yaml
  kubernetes/staging/shared/templates/cloudflare/zero-trust/application.yaml
Labels: area/kubernetes, area/taskfile, cluster/staging
